html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: rgb(82, 46, 155);
}
p {
  width: 100%;
  height: 100%;
}
.mainSection div {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 200px;
  height: 25px;
  margin: 5px;

  text-align: center;

  outline: none;
  border: none;
  border-bottom: 3px solid rgb(113, 46, 139);
  border-radius: 0px 0px 15px 15px;
  background: none;

  font-size: 20px;
  font-weight: bold;
  color: rgb(73, 18, 95);
}
.loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 400px;
  box-shadow: 0px 0px 5px 2px rgb(159, 80, 190);
}
.btnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background: rgb(113, 46, 139);
  border-radius: 20px 20px 30px 30px;
  color: rgb(230, 59, 29);
}
.mainSection {
  display: none;
  width: 100%;
  height: 100%;
}
.mainBox {
  display: flex;
  width: 100%;
  height: 60%;
  background: rgba(155, 90, 46);
}
.textBox {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 10px 0px 10px;
  width: 30%;
  height: 100%;
  white-space: pre-wrap;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 100%;
}
.heart {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 20%;
  font-size: 200px;
  color: crimson;
}
/*----- background-box-color -----*/
.red {
  background-color: rgb(172, 85, 85);
}
.orange {
  background-color: rgb(180, 118, 38);;
}
.yellow {
  background-color: rgb(180, 159, 38);
}
.green {
  background-color: rgb(63, 150, 60);
}
.blue {
  background-color: rgb(38, 147, 180);
}
.darkBlue {
  background-color: rgb(38, 71, 180);
}
.purple {
  background-color: rgb(140, 38, 180);
}
/*----- color-text -----*/
.text {
  font-family: 'Montserrat', sans-serif;
  color: rgb(22, 22, 22);
  filter: drop-shadow(3px 4px 7px black);
}
.class {
  font-size: 50px;
  color: plum;
}